/* Heading */
h1,h2 {
    font-family: "Holtwood One SC", serif;
    font-weight: 300;
    font-style: normal;
  }

/* Azure Horizon */
#alpha {
  font-family: "Arvo", serif;
  font-size: large;
  font-weight: 400;
  font-style: normal;
}

#alpha-bold {
  font-family: "Arvo", serif;
  font-size: large;
  font-weight: 700;
  font-style: normal;
}

#alpha-italic {
  font-family: "Arvo", serif;
  font-size:small;
  font-weight: 400;
  font-style: italic;
}

#alpha-bold-italic {
  font-family: "Arvo", serif;
  font-size: larger;
  font-weight: 700;
  font-style: italic;
}


/* J.S */
#omega {
  font-family: "Headland One", serif;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
}


/* Kalax */
#phi {
  font-family: Verdana, sans-serif;
  font-weight: 300;
}

/* Minecraft */
  /* <weight> Use a value from 400 to 700 */
  .pixel {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }